/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #14F7A6 !important;
  }

.mat-form-field-appearance-outline.mat-focused .mat-form-field-label { 
    color: black !important; 
}

.green-snackbar {
    background: linear-gradient(to right, #2D9B8A , #3AB3A1 );
}

.mat-form-field-ripple {
    background:  #14F7A6 !important;
}

.mat-progress-bar-fill::after {
    background-color: #14F7A6;
}
.mat-progress-bar-buffer {
    background: #B5FCE4 ;
}

.mat-slide-toggle-bar {
    background-color: #DDE4E2;
  }

  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color:  #14F7A6 ;
  }
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #F5FAF8 ;
  }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
